.ripple-btn {
  position: relative;
  overflow: hidden;
  cursor: pointer;
        border-radius: 30px;
 font-size: 1rem;
      font-weight: 600;
  border: none;
        padding: 1rem 3rem;

}
.ripple-btn:active {
  scale: 0.95;
}

.ripple-btn .ripple {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #faebcd;
  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: none;
}
