nav {
  width: 100%;
  background-color: #fffaf0;
  color: #59432d;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 20;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: default;
}
nav .navLink {
  text-decoration: none;
  color: #59432d;
}
nav .navLeft {
  display: flex;
  align-items: center;
  gap: 2rem;
}
nav .navLeft div {
  position: relative;
}
nav .navLeft div h3 {
  font-size: 1.3rem;
  transition: all ease 0.3s;
  font-weight: 500;
}
nav .navLeft div .navLink::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #8c663f;
  transition: all 0.4s ease;
}
nav .navLeft div .navLink:hover::before {
  width: 100%;
}
nav .mobileLeft {
  display: none;
}
nav .logo .svg {
  width: 400px;
  height: 90px;
}
nav .logo h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  word-spacing: 0.2rem;
  font-weight: 600;
}
nav .navRight {
  display: flex;
  align-items: center;
  gap: 2rem;
}
nav .navRight i {
  font-size: 1.3rem;
  color: #59432d;
  cursor: pointer;
}
nav .navRight i:hover {
  color: #8c663f;
}
nav .navRight div {
  position: relative;
}
nav .navRight div h3 {
  font-size: 1.3rem;
  transition: all ease 0.3s;
  font-weight: 500;
}
nav .navRight div .navLink::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #8c663f;
  transition: all 0.4s ease;
}
nav .navRight div .navLink:hover::before {
  width: 100%;
}
nav .navRight div .cart {
  position: fixed;
  background-color: #fffaf0;
  width: 40%;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 2rem 2rem;
  box-shadow: 6px 6px 6px 6px #ccbba3;
}
nav .navRight div .cart .cartContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
nav .navRight div .cart .cartContainer .close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #59432d;
  padding-bottom: 0.8rem;
}
nav .navRight div .cart .cartContainer .close i:hover {
  color: #8c663f;
  cursor: pointer;
}
nav .navRight div .cart .cartContainer .cartItems {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
nav .navRight div .cart .cartContainer .cartItems .item {
  display: flex;
  box-shadow: 6px 6px 6px 6px #ccbba3;
  padding: 1rem 0;
  justify-content: space-around;
  border-radius: 10px;
}
nav .navRight div .cart .cartContainer .cartItems .item .img {
  height: 6rem;
  width: 6rem;
}
nav .navRight div .cart .cartContainer .cartItems .item .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
nav .navRight div .cart .cartContainer .cartItems .item .det {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
nav .navRight div .cart .cartContainer .cartItems .item .det p .price {
  color: #ff8100;
}
nav .navRight div .cart .cartContainer .cartItems .item .det .quan {
  border: 1px solid #59432d;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
}
nav .navRight div .cart .cartContainer .cartItems .item .det .quan i {
  display: inline-block;
}
nav .navRight div .cart .cartContainer .cartItems .item .det .quan i:hover {
  color: #8c663f;
}
nav .navRight div .cart .cartContainer .cartItems .item .det .quan span {
  display: inline-block;
  height: 100%;
  border-left: 1px solid #59432d;
  border-right: 1px solid #59432d;
  padding: 0.2rem 0.8rem;
}
nav .navRight div .cart .cartContainer .cartItems .item .det .delete i:hover {
  color: #8c663f;
}
nav .navRight div .cart .cartContainer .checkout {
  margin-top: auto;
}
nav .navRight div .cart .cartContainer .checkout button {
  background-color: #ff8100;
  color: #fffaf0;
  border: 1px solid #ff8100;
  width: 100%;
}
nav .navRight div .cart .cartContainer .checkout button:hover {
  background-color: #fffaf0;
  color: #ff8100;
}
nav .mobileRight {
  display: none;
}

.hide {
  transform: translateY(-100%);
}

.show {
  transform: translateY(0);
}

@media (max-width: 767px) {
  nav {
    padding: 1rem 1rem;
    height: 4.2rem;
    position: fixed;
    top: 0;
  }
  nav .navLeft {
    display: none;
  }
  nav .mobileLeft {
    display: block;
  }
  nav .mobileLeft i {
    font-size: 1.8rem;
  }
  nav .mobileLeft .menu {
    position: fixed;
    width: 100%;
    background-color: #faebcd;
    height: 100%;
    top: 100%;
    background-image: url("../../assets/bg.png");
    background-position: 0% 100%;
    left: 0;
    height: calc(100vh - 4.2rem);
    padding: 1rem 1rem;
  }
  nav .mobileLeft .menu h3 {
    padding: 0.4rem 0;
  }
  nav .mobileLeft .menu .navLink {
    position: relative;
  }
  nav .mobileLeft .menu .navLink::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #8c663f;
    transition: all 0.4s ease;
    bottom: 4px;
  }
  nav .mobileLeft .menu .navLink:hover::before {
    width: 10%;
  }
  nav .mobileLeft .menu .close {
    display: flex;
    justify-content: flex-end;
  }
  nav .mobileLeft .menu .close i:hover {
    color: #8c663f;
    cursor: pointer;
  }
  nav .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 250px;
  }
  nav .logo .svg {
    width: 100%;
    height: auto;
  }
  nav .navRight {
    display: none;
  }
  nav .mobileRight {
    display: flex;
    height: 100%;
    align-items: center;
  }
  nav .mobileRight i {
    font-size: 1.8rem;
  }
  nav .mobileRight .mobCartLink {
    text-decoration: none;
    color: #59432d;
    padding-top: 0.2rem;
  }
}
/* Tablets (iPads etc.) */
@media (min-width: 768px) and (max-width: 1024px) {
  nav .navRight div .cart {
    width: 60%;
  }
}/*# sourceMappingURL=Navbar.css.map */