// $white: #f9f5ed;
$white: #fffaf0;
$orange: #ff8100;
$brown: #59432d;
$lightBrown: #8c663f;
$cream: #faebcd;
$darkCream: #f3e6d2;
$grey: #ccbba3;
@mixin h1 {
  font-size: 4rem;
  color: $orange;
  letter-spacing: -2px;
}
@mixin p {
  color: $brown;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8rem;
  padding: 1rem 0;
}
.testimonial {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.feedback {
  width: 100%;
  background-color: $white;
  display: flex;
  padding: 6rem 3rem;
  padding-bottom: 3rem;
  .feedLeft {
    width: 45%;
    h1 {
      font-size: 4rem;
      color: $brown;
      font-weight: 600;
      line-height: 4.5rem;
    }
  }
  .feedRight {
    width: 55%;
    display: flex;
    gap: 2rem;
    padding: 0 1rem;
    .left {
      width: 50%;
      h1 {
        @include h1;
      }
      p {
        @include p;
      }
      hr {
        margin: 1rem 0;
      }
      .consumer {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        span {
          display: inline-block;
          background-color: $orange;
          color: $white;
          padding: 0.8rem 0.8rem;
          font-size: 1.3rem;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
        h3 {
          background-color: #fae9c8;
          height: 100%;
          padding: 0.8rem 0.5rem;
          color: $brown;
          font-size: 1.3rem;
          font-weight: 500;
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
    }

    .right {
      width: 50%;
      h1 {
        @include h1;
      }
      p {
        @include p;
      }
      hr {
        margin: 1rem 0;
      }
      h3 {
        color: $orange;
        margin-bottom: 0.8rem;
        span {
          background-color: $orange;
          color: $white;
          margin-right: 1rem;
          border-radius: 50%;
          padding: 0.1rem 0.5rem;
        }
      }
    }
  }
}
.slider {
  background-color: $white;
  h1 {
    text-align: left;
    padding: 0 3rem;
    font-size: 3.4rem;
    color: $brown;
    letter-spacing: -1px;
    font-weight: 600;
  }
}

@media (max-width: 720px) {
  .testimonial {
    .feedback {
      flex-direction: column;
      padding: 2rem 1rem;
      gap: 1rem;
      .feedLeft {
        width: 100%;
        h1 {
          font-size: 2.4rem;
          line-height: 2.8rem;
        }
      }
      .feedRight {
        flex-direction: column;
        width: 100%;
        padding: 0;
        .left {
          width: 100%;
          h1 {
            font-size: 2.4rem;
          }
        }
        .right {
          width: 100%;
          h1 {
            font-size: 2.4rem;
          }
        }
      }
    }
    .slider {
      h1 {
        font-size: 2.4rem;
        padding: 0 1rem;
      }
    }
  }
}
