$white: #fffaf0;
$orange: #ff8100;
$brown: #59432d;
$lightBrown: #8c663f;
$purple: #6a1b9a;
$cream: #faebcd;
$grey: #ccbba3;

.aboutPage {
  color: black;
  width: 100%;
  background-color: $white;
  display: grid;
  padding: 0rem 3rem;
  padding-top: 6rem;
  gap: 4rem;

  grid-template-columns: repeat(2, 1fr);
  .img {
    padding: 1rem 0;
    img {
      width: 100%;
      aspect-ratio: 1/1;
      border-radius: 20px;
      box-shadow: 2px 2px 6px 2px $grey;
      transition: all 0.3s ease;
      object-fit: cover;
    }
    img:hover {
      scale: 1.02;
    }
  }
  .about {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    h2 {
      color: $brown;
      font-size: 3.8rem;
      line-height: 4rem;
      text-align: center;
      span {
        color: $orange;
      }
    }
    p {
      font-size: 1.5rem;
      color: $lightBrown;
      font-weight: 400;
      padding: 4rem 0;
      text-align: center;
    }
  }

  .aboutPlatform {
    h3 {
      color: $brown;
      font-size: 3.5rem;
      line-height: 4rem;
      padding-bottom: 3rem;
      span {
        color: $orange;
      }
    }
    p {
      font-size: 1.5rem;
      color: $lightBrown;
      font-weight: 400;
      padding: 0.5rem 0;
    }
  }
  .gridImg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    img {
      width: 100%;
      height: 14rem;
      border-radius: 10px;
    }
  }
}

@media (max-width: 767px) {
  .aboutPage {
    padding: 0 1rem;
    padding-top: 5rem;

    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    .about {
      h2 {
        font-size: 2.4rem;
        line-height: 2.8rem;
      }
      p {
        padding-top: 4rem;
        padding-bottom: 0;
      }
    }
    .aboutPlatform {
      h3 {
        font-size: 2rem;
        line-height: 2.2rem;
      }
    }
    .gridImg {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .aboutPage {
    grid-template-columns: repeat(1, 1fr);
    .gridImg {
      img {
        height: 20rem;
      }
    }
  }
}
